// 
// Declarations  
// ========================================================================== 

//
// Features:
//

$bare-alert-border-radius:		    2px !default;
$bare-alert-background:			#e02a2b !default;
$bare-alert-color: 				   #fff !default;

/* 
   #tiles
   ========================================================================== */

/**
 * The alert object creates simple alert messages.
 *
 * Usage:
 *
 * <p class="alert"></p>
 */

.#{$bare-ns}alert {
	@extend %bare-mb-m;
	display: block;
	padding: bareRem($bare-sp-s);
	border-radius: $bare-alert-border-radius;
	font-size: 85%;
	background: $bare-alert-background;
	color: $bare-alert-color;
}
